.bx--snippet-button {
  position: relative;
  top: 0;
  right: 0;
  margin-top: -5px; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImNvcHlidXR0b24uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUFBO0VBQ0UsbUJBQW1CO0VBQ25CLE9BQU87RUFDUCxTQUFTO0VBQ1QsaUJBQWlCLEVBQUUiLCJmaWxlIjoiY29tcG9uZW50cy9jb3B5YnV0dG9uLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIi5ieC0tc25pcHBldC1idXR0b24ge1xuICBwb3NpdGlvbjogcmVsYXRpdmU7XG4gIHRvcDogMDtcbiAgcmlnaHQ6IDA7XG4gIG1hcmdpbi10b3A6IC01cHg7IH1cbiJdfQ== */
