body {
  font-family: 'IBM Helvetica', Helvetica Neue, HelveticaNeue, Helvetica, sans-serif;
  background-color: #fff;
  color: #152935; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQTtFQUNFLG1GQUFtRjtFQUNuRix1QkFBdUI7RUFDdkIsZUFBZSxFQUFFIiwiZmlsZSI6ImNvbW1vbi9zdHlsZS5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyJib2R5IHtcbiAgZm9udC1mYW1pbHk6ICdJQk0gSGVsdmV0aWNhJywgSGVsdmV0aWNhIE5ldWUsIEhlbHZldGljYU5ldWUsIEhlbHZldGljYSwgc2Fucy1zZXJpZjtcbiAgYmFja2dyb3VuZC1jb2xvcjogI2ZmZjtcbiAgY29sb3I6ICMxNTI5MzU7IH1cbiJdfQ== */
