.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 12.5rem;
  position: relative;
  padding: 2rem 2rem 2.5rem;
  background-color: #f5f7fa;
  color: #152935;
  border: 1px solid #dfe3e6;
}