.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: 12.5rem;
  position: relative;
  padding: 2rem 2rem 2.5rem;
  margin: 1.5rem 0 0;
  background-color: #f5f7fa;
  color: #152935;
  border: 1px solid #dfe3e6;
}